@model HieuLamDoAn.Models.TeamMembers
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main int id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận thêm mới nhân viên</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Thêm mới nhân viên</h2>
        </div>

        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
               @*  <div class="form-group col-md-6">
                    <label asp-for="MemberID">MemberID</label>
                    <input type="text" class="form-control mb-3" asp-for="MemberID" placeholder="Nhập MemberID">
                    <span asp-validation-for="MemberID" class=" alert-danger"></span>
                </div> *@
                <div class="form-group col-md-6">
                    <label asp-for="MemberName">MemberName</label>
                    <input type="text" class="form-control mb-3" asp-for="MemberName" placeholder="Nhập tên Member">
                    <span asp-validation-for="MemberName" class=" alert-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                
                <div class="form-group col-md-6">
                        <label asp-for="Designation">Designation</label>
                        <input type="text" class="form-control mb-3" asp-for="Designation" placeholder="Nhập chức vụ">
                        <span asp-validation-for="Designation" class=" alert-danger"></span>
                </div>

                <div class="form-group col-md-6">
                        <label asp-for="Image">Image</label>
                        <input type="text" class="form-control mb-3" asp-for="Image" placeholder="Nhập hình ảnh">
                        <span asp-validation-for="Image" class=" alert-danger"></span>
                </div>

                <div class="form-group col-md-6">
                        <label asp-for="FbUrl">FbUrl</label>
                        <input type="text" class="form-control mb-3" asp-for="FbUrl" placeholder="Nhập liên kết FaceBook">
                        <span asp-validation-for="FbUrl" class=" alert-danger"></span>
                </div>
                 <div class="form-group col-md-6">
                        <label asp-for="TwUrl">TwUrl</label>
                        <input type="text" class="form-control mb-3" asp-for="TwUrl" placeholder="Nhập liên kết Twiter">
                        <span asp-validation-for="TwUrl" class=" alert-danger"></span>
                 </div>
                <div class="form-group col-md-6">
                        <label asp-for="IgUrl">IgUrl</label>
                        <input type="text" class="form-control mb-3" asp-for="IgUrl" placeholder="Nhập liên kết Instagram">
                        <span asp-validation-for="IgUrl" class=" alert-danger"></span>
                </div>
                <div class="tox-form-group--maximize mt-5 mb-5">
                    
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
            <a asp-asp-controller="Menu" asp-action="Index" class="btn btn-lg btn-warning p-2"> Quay lại</a>
        </form>
    </div>
</main>